development:
  secret_key_base: 'changeme'
  braintree:
    :merchant_id: 'changeme'
    :public_key: 'changeme'
    :private_key: 'changeme'

test:
  secret_key_base: 'changeme'

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
