%article.couple.row
  %header.small-12.columns
    %h2 Contribute to #{@list.title}'s Wedding List

    =form_tag("/payment") do
      =label_tag(:amount, "How much are you giving to the couple:")
      =text_field_tag(:amount)

      %h5 Enter your credit card details below*:
      %section{:id=>"dropin"}

      %p
        =hidden_field_tag(:list_id, @list.id)
      %p
        = submit_tag("Pay Now", class: "button button-med")

      %sub * All transactions processed via Braintree Payments Sandbox

  :javascript
    braintree.setup("#{@bt_client_token}", 'dropin', {
      container: 'dropin'
    });
