h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-serif;
}

body {
	font-family: $body;
	margin: 0;
}

a {
	color: $highlight;
}

footer {
	border-top: 5px solid $secondary-color;
	background: $primary-color;
	text-align: center;
	
	h1 {
		font-family: $font-family-serif;
		color: white;
		}

	ul {
		list-style: none;

		li {
			display: inline-block;
			width: 25%;
			padding: 10px;
			background: $secondary-color;

			a {
				color: white;
			}
		}

		li:nth-child(even) {
			margin: 0 5%;
		}	
	}
}

.btn {
	padding: 2% 10%;
	text-align: center;
	width: 80%;
	color: white;

	&.primary {
		background-color: $primary-color;
	}
}

