h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-serif;
}

body {
	font-family: $body;
	margin: 0;
	background: $primary-color;
}
main {
	background: white;
	padding: 0;
}
.grey {
	background: #ccc;
	padding: 30px 0;
}
a {
	color: $highlight;
}

.large {
  font-size: $h3-font-size;
  line-height: 2.4rem;
}

footer {
	border-top: 5px solid $secondary-color;
	background: $primary-color;
	text-align: center;
	color: white;
	padding-bottom: 30px;

	a:hover {
		color: $highlight;
	}
}

.btn {
	padding: 2% 10%;
	text-align: center;
	width: 80%;
	color: white;

	&.primary {
		background-color: $primary-color;
	}
}

