.couple {

  header {
    margin: 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px dotted $primary-color;

    h1 {
      font-size: 3.74rem;
    }

    img {
      width: 300px;
      height: 300px;
    }
  }
}

.donate {
  header {
    h1 {
      font-size: $h2-font-size;
    }
  }

  .products {
    @include list-reset();

    li {
      border-bottom: 1px dotted $primary-color;
      @include list-reset();
      margin: 20px 0;
      padding: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      .price {
        font-size: $h4-font-size;
      }
    }
  }
}
