.couple {

  header {
    margin: 40px 0;
    padding: 0 0 40px 0;
    border-bottom: $line-style;
    text-align: center;

    @media #{$medium-up} {
      text-align: left;
    }

    h1 {
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 20px;

      @media #{$medium-up} {
        font-size: 3.75rem;
        line-height: 4rem;
      }
    }

    p {
      font-size: $h5-font-size;
    }

    img {
      width: 30%;
      height: 30%;
      margin: 0 auto;
      border-radius: 50%;

      @media #{$medium-up} {
        width: 100%;
        width: 100%;
      }
    }
  }

  .total {
    margin-bottom: 30px;

    h1 {
      font-size: $h2-font-size;
      margin-bottom: 0;
    }
    
    h2 {
      font-size: $h3-font-size;
      color: $secondary-color;
    }

    .charity_logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }
  }
}


