ul.lists {
  li {
      text-align: center;
    img {
      
        border-radius: 50%;
    }
  }
}

@media #{$medium-up} {

  ul.lists {
    @include list-reset();

    li {
      img {
        width: 90%;
        border-radius: 50%;
      }
    }
  }
}