#log-in-form {
  margin: 30px 0;

  section {
    margin-bottom: 20px;

    div {
      background-color: lighten($secondary-color, 60%);
      padding: 20px;

      h1 {
        margin-bottom: 20px;
      }

      p {
        font-size: $h5-font-size;
      }

      .button, button {
        margin-top: 15px;
      }
    }
  }
}